<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <title>Resultaten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Resultaten</h1>

        <p><strong>Letters:</strong> <code>{{.Letters}}</code></p>
        <p><strong>Patroon:</strong> <code>{{.Pattern}}</code></p>

        {{if .Results}}
        <ul>
            {{range .Results}}
            <li><strong>{{.Word}}</strong> <sub>{{.Score}} punten</sub></li>
            {{end}}
        </ul>
        {{if .Overflow}}
        <p><strong>en {{.Overflow}} meer...</strong></p>
        {{end}}
        {{else}}
        <p><em>Geen woorden gevonden</em></p>
        {{end}}
        <hr>
        <p><a href="/">&ldsh; Ga terug</a></p>
        <h2>Zoek opnieuw</h2>
        {{template "form.html" .}}
    </main>
</body>

</html>